// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    width: 100vw;
    height: 100vh;
    background: rgb(153,176,232);
    background: radial-gradient(circle, rgba(153,176,232,1) 100%, rgba(180,217,73,1) 100%);
}
.task svg:hover{
    cursor: pointer;
}
